html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  vertical-align: middle;
  align-items: center;
  flex: 0;
  margin-top: auto;

}

body {
  margin-bottom: 60px;
}

tr {
  vertical-align: middle;
}

.carousel-item {
  height: 500px;
  width: auto !important;
  max-width: 1296px;
  object-fit: cover;

}

.icon-image {
  height: 100px;
  width: auto;
}

.middle-image {
  height: 200px;
  width: auto;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}



.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.background-image1 {
  background-image: url("~/assets/gym_background_black.jpg");
  height: 100vh;
}