html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.hero{
  background-color: #074f57;
  background-image: url("https://ibb.co/sRKqDSw");
  color: white;
}