 
@model IList<User>
<partial name="_BreadCrumbs" model=@(new [] {
    ("/", "Home"),("/User", "User")
})/>
<h3 class="callout callout-info mt-4 mb-4">User List List</h3>
<a asp-condition=@(User.IsInRole("guest") || User.IsInRole("manager")) class="btn btn-sm btn-primary my-3" asp-action="Create" >
    <i class="bi bi-plus"></i> Create
</a> 

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Account Details </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var v in Model)
        {
            <tr>
                <td>@v.Id</td>
                <td>@v.Name</td>
                <td>@v.Email</td>
                <td><a class = "btn btn-primary btn-lg active" asp-controller="User" asp-action="Details" asp-route-id="@v.Id">View</a> </td>
                
            </tr>
        }
    </tbody>
</table>